:root {
  --primary: #fff;
}

.bttn1 {
  padding: 8px 20px !important;
  border-radius: 2px !important;
  outline: none !important;
  border: none !important;
  cursor: pointer !important;
}

.bttn__primary {
  background-color: var(--primary) !important;
  color: #242424 !important;
  border: 1px solid var(--primary) !important;
}

.bttn__outline {
  background-color: transparent !important;
  color: #fff !important;
  padding: 8px 20px !important;
  border: 1px solid var(--primary) !important;
  transition: all 0.3s ease-out !important;
}

.bttn__medium {
  padding: 8px 20px !important;
  font-size: 20px !important;
}

.bttn__large {
  padding: 12px 26px !important;
  font-size: 20px !important;
}

.bttn__medium:hover,
.bttn__large:hover {
  background: #fff !important;
  color: #242424 !important;
  transition: all 0.3s ease-out !important;
}
