/* Button */
.btnz {
  cursor: pointer;
  display: inline-block;
  padding: 10px 30px;
  color: #fff;
  border: none;
  border-radius: 5px;
  /* margin-bottom: 5px; */
}

.btnz:hover {
  opacity: 0.9;
}

.btn_dark,
.bg_dark {
  background: #333;
  color: #fff;
}
.btn_light,
.bg_light {
  background: #f4f4f4;
  color: #333;
}

/* Flex columns */
.flex_columns.flex_reverse .rows {
  flex-direction: row-reverse;
}

.flex_columns .rows {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.flex_columns .column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}

.flex_columns .column .column_1,
.flex_columns .column .column_2 {
  height: 100%;
}

.flex_columns img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.flex_columns .column_2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 30px;
}

.flex_columns h2 {
  font-size: 40px;
  font-weight: 100;
}

.flex_columns h4 {
  margin-bottom: 10px;
}

.a-wrappers {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.flex_columns a {
  text-decoration: none;
}

.flex_columns p {
  margin: 20px 0;
}

@media (max-width: 768px) {
  .flex_columns .column,
  .flex-grid .column {
    flex: 100%;
    max-width: 100%;
  }

  /* img {
    width: 70%;
  } */
}
